go 1.22.0

use (
	./0-hello
	./1-getting-started/1-create-module
	./1-getting-started/2-call-code-from-outside
	./1-getting-started/3-error-handling/caller
	./1-getting-started/3-error-handling/handler
	./1-getting-started/4-go-slice/caller
	./1-getting-started/4-go-slice/function
	./1-getting-started/5-multi-args-greeting/caller
	./1-getting-started/5-multi-args-greeting/function
	./1-getting-started/6-testing
	./1-getting-started/7-compile-and-installation
	./1-getting-started/7-compile-and-installation/greeting
	./2-multi-module-workspaces
	./2-multi-module-workspaces/example
	./2-multi-module-workspaces/example/hello
	./2-multi-module-workspaces/example/helloserver
	./2-multi-module-workspaces/example/outyet
)
